---
import { getCollection } from 'astro:content';
import Article from '../layouts/Article.astro';

const players = (await getCollection('players')).sort(
  (a, b) => a.data.order - b.data.order
);
---

<Article title="PLAYERS - RASHINBAN 2025 - GeoGuessr日本最強決定戦">
  <h2 id="players">PLAYERS</h2>

  <h4 id="-"><strong>注目の出場選手</strong></h4>
  <div class="two-column">
    {
      players.map((player) => (
        <div class="column-row">
          <div>
            <img src={player.data.photo} alt={player.data.name} />
          </div>
          <div>
            <h4>
              {player.data.name} {player.data.title}
            </h4>
            <p>{player.data.description}</p>
            {player.data.interview && (
              <p>
                <a href={`/interviews/${player.data.interview}/`}>
                  {player.data.name}選手のインタビュー記事はこちら
                </a>
              </p>
            )}
          </div>
        </div>
      ))
    }
  </div>
</Article>
